# Supabase Configuration - CoupleSpace (Private)
NEXT_PUBLIC_SUPABASE_URL=https://cqyfuzpkcsjgpucdshxj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_L_KOJLptOMOZ5iE6Mjq_3w_6BnvtQmH
SUPABASE_SERVICE_ROLE_KEY=

# Application
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Users
USER_1_EMAIL=thomasm@rior.dev
USER_2_EMAIL=Jennifer.Maaskant@gmail.com